html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--medi-light);
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--font-primary);
}

#app * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#app {
    min-height: 100vh;
}

a {
    text-decoration: none;
}
