/* Color
================================================================ */

:root {
    /* ==== Main ==== */
    --medi-primary: #00c8b4;
    --medi-primaryRGB: 0, 200, 180;
    --medi-secondary: #404040;
    --medi-secondaryRGB: 64, 64, 64;
    --medi-tertiary: #565656;
    --medi-quaternary: #f0f0f0;
    --medi-light: #fff;
    --medi-danger: #c80000;

    --medi-bg-secondary: #dadada;

    /* ==== Fonts ==== */
    --font-primary: #404040;
    --font-secondary: #fff;

    /* ==== Bg ==== */
}
